$header_wrap_color: #F4F4F4;
$link_color: #17181A;
$link_hover:#73962C;
$line: #BDBDBE;
$bg_main: #E5E5E5;
$white: #FFFFFF;
$aside: #515151;
$red: #EB5757;
$blue: #2268B4;
$span:#BDBDBE;
$border_color: #E2E2E2;
$md-checkbox-border-color:  #C7C7CC;
$bg_footer:#26282C;






//size
$md-checkbox-margin: 1em 0;
$md-checkbox-size: 1.25em;
$md-checkbox-padding: .25em;
$md-checkbox-border-width: 1px;
$md-checkbox-border-radius: 4px;
$md-checkmark-width: 0.125em;
$md-checkbox-label-padding: .75em;
$md-checkbox-span-padding: 0.3125em;



